# Ignore OS/macOS files
.DS_Store
Thumbs.db

# Ignore node modules in frontend
/frontend/node_modules/
# Ignore Next.js build
/frontend/.next/

# Ignore env files in frontend
/frontend/.env.local
/frontend/.env



# Ignore Python virtual environments
/backend/.venv/

# Ignore Python cache
/backend/__pycache__/
/backend/app/__pycache__/
/backend/app/api/__pycache__/
/backend/app/services/__pycache__/
/backend/app/utils/__pycache__/

# Ignore Python bytecode
*.pyc

# Ignore uploads/static
/backend/static/

# Ignore VSCode settings (optional, but common)
.vscode/

# Ignore Docker stuff (optional)
/backend/*.egg-info
